In [1]:
import pandas as pd
import quandl

In [10]:
# quandl.ApiConfig.api_key = 'KuCdQGSsXyQkgVrdtJjE'
sunspots = quandl.get('SIDC/SUNSPOTS_A')

In [11]:
sunspots.head(6)  #前n条记录

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1700-12-31,8.3,NaN,NaN,1.0
1701-12-31,18.3,NaN,NaN,1.0
1702-12-31,26.7,NaN,NaN,1.0
1703-12-31,38.3,NaN,NaN,1.0
1704-12-31,60.0,NaN,NaN,1.0
1705-12-31,96.7,NaN,NaN,1.0

In [12]:
sunspots.tail(6)  #后n条记录

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
2012-12-31,84.5,6.7,5753.0,1.0
2013-12-31,94.0,6.9,5347.0,1.0
2014-12-31,113.3,8.0,5273.0,1.0
2015-12-31,69.8,6.4,8903.0,1.0
2016-12-31,39.8,3.9,9940.0,1.0
2017-12-31,21.8,2.6,10734.0,0.0

In [13]:
last_date = sunspots.index[-1]  #取最新一年的索引

In [14]:
sunspots.loc[last_date]  #取最新一年的数据

Yearly Mean Total Sunspot Number       21.8
Yearly Mean Standard Deviation          2.6
Number of Observations              10734.0
Definitive/Provisional Indicator        0.0
Name: 2017-12-31 00:00:00, dtype: float64

In [15]:
sunspots["20070101":"20171231"]  #通过YYYYMMDD格式的日期字符串来查询日期

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
2007-12-31,12.6,2.7,6841.0,1.0
2008-12-31,4.2,2.5,6644.0,1.0
2009-12-31,4.8,2.5,6465.0,1.0
2010-12-31,24.9,3.4,6328.0,1.0
2011-12-31,80.8,6.7,6077.0,1.0
2012-12-31,84.5,6.7,5753.0,1.0
2013-12-31,94.0,6.9,5347.0,1.0
2014-12-31,113.3,8.0,5273.0,1.0
2015-12-31,69.8,6.4,8903.0,1.0
2016-12-31,39.8,3.9,9940.0,1.0
2017-12-31,21.8,2.6,10734.0,0.0

In [16]:
sunspots.iloc[[2,4,-2,-4]]  #索引列表也可以用于查询第2，4，-2，-4的值，sunspots.iloc[2]

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1702-12-31,26.7,NaN,NaN,1.0
1704-12-31,60.0,NaN,NaN,1.0
2016-12-31,39.8,3.9,9940.0,1.0
2014-12-31,113.3,8.0,5273.0,1.0

In [17]:
sunspots.iloc[0,0]  #通过索引查询标量值,第一个表示行,第二个表示列

8.3000000000000007

In [20]:
sunspots.iat[-1,0]  #通过索引查询标量值,第一个表示行,第二个表示列,速度更快

21.800000000000001

In [21]:
sunspots[sunspots>sunspots.mean]  #查询布尔型变量的方法，查询所有数据行，与条件不符的行赋予Nan值

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1700-12-31,8.3,NaN,NaN,1.0
1701-12-31,18.3,NaN,NaN,1.0
1702-12-31,26.7,NaN,NaN,1.0
1703-12-31,38.3,NaN,NaN,1.0
1704-12-31,60.0,NaN,NaN,1.0
1705-12-31,96.7,NaN,NaN,1.0
1706-12-31,48.3,NaN,NaN,1.0
1707-12-31,33.3,NaN,NaN,1.0
1708-12-31,16.7,NaN,NaN,1.0
1709-12-31,13.3,NaN,NaN,1.0
1710-12-31,5.0,NaN,NaN,1.0
1711-12-31,0.0,NaN,NaN,1.0
1712-12-31,0.0,NaN,NaN,1.0
1713-12-31,3.3,NaN,NaN,1.0
1714-12-31,18.3,NaN,NaN,1.0
1715-12-31,45.0,NaN,NaN,1.0
1716-12-31,78.3,NaN,NaN,1.0
1717-12-31,105.0,NaN,NaN,1.0
1718-12-31,100.0,NaN,NaN,1.0
1719-12-31,65.0,NaN,NaN,1.0
1720-12-31,46.7,NaN,NaN,1.0
1721-12-31,43.3,NaN,NaN,1.0
1722-12-31,36.7,NaN,NaN,1.0
1723-12-31,18.3,NaN,NaN,1.0
1724-12-31,35.0,NaN,NaN,1.0
1725-12-31,66.7,NaN,NaN,1.0
1726-12-31,130.0,NaN,NaN,1.0
1727-12-31,203.3,NaN,NaN,1.0
1728-12-31,171.7,NaN,NaN,1.0
1729-12-31,121.7,NaN,NaN,1.0
...,...,...,...,...
1988-12-31,123.0,8.4,6556.0,1.0
1989-12-31,211.1,12.8,6932.0,1.0
1990-12-31,191.8,11.2,7108.0,1.0
1991-12-31,203.3,12.7,6932.0,1.0
1992-12-31,133.0,8.9,7845.0,1.0
1993-12-31,76.1,5.8,8010.0,1.0
1994-12-31,44.9,4.4,8524.0,1.0
1995-12-31,25.1,3.7,8429.0,1.0
1996-12-31,11.6,3.1,7614.0,1.0
1997-12-31,28.9,3.6,7294.0,1.0
1998-12-31,88.3,6.6,6353.0,1.0
1999-12-31,136.3,9.3,6413.0,1.0
2000-12-31,173.9,10.1,5953.0,1.0
2001-12-31,170.4,10.5,6558.0,1.0
2002-12-31,163.6,9.8,6588.0,1.0
2003-12-31,99.3,7.1,7087.0,1.0
2004-12-31,65.3,5.9,6882.0,1.0
2005-12-31,45.8,4.7,7084.0,1.0
2006-12-31,24.7,3.5,6370.0,1.0
2007-12-31,12.6,2.7,6841.0,1.0
2008-12-31,4.2,2.5,6644.0,1.0
2009-12-31,4.8,2.5,6465.0,1.0
2010-12-31,24.9,3.4,6328.0,1.0
2011-12-31,80.8,6.7,6077.0,1.0
2012-12-31,84.5,6.7,5753.0,1.0
2013-12-31,94.0,6.9,5347.0,1.0
2014-12-31,113.3,8.0,5273.0,1.0
2015-12-31,69.8,6.4,8903.0,1.0
2016-12-31,39.8,3.9,9940.0,1.0
2017-12-31,21.8,2.6,10734.0,0.0

In [22]:
sunspots.describe()  #返回描述性统计信息，例如每行的非Nan数据项数量，mean值，std值，min值，max值，各种位数

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
count,318.000000,200.000000,200.000000,318.000000
mean,79.197170,7.982500,1514.010000,0.996855
std,61.985246,3.818567,2543.569835,0.056077
min,0.000000,1.700000,150.000000,0.000000
25%,24.950000,4.700000,365.000000,1.000000
50%,66.250000,7.650000,365.000000,1.000000
75%,116.025000,10.425000,366.000000,1.000000
max,269.300000,19.100000,10734.000000,1.000000

In [23]:
sunspots.count()  #返回每行非Nan的数据的数量

Yearly Mean Total Sunspot Number    318
Yearly Mean Standard Deviation      200
Number of Observations              200
Definitive/Provisional Indicator    318
dtype: int64

In [24]:
sunspots.mad()  #每行平均绝对误差,类似于标准差的一个有力的统计工具

Yearly Mean Total Sunspot Number      50.921900
Yearly Mean Standard Deviation         3.138625
Number of Observations              1904.956300
Definitive/Provisional Indicator       0.006270
dtype: float64

In [25]:
sunspots.median()  #每行的中位数

Yearly Mean Total Sunspot Number     66.25
Yearly Mean Standard Deviation        7.65
Number of Observations              365.00
Definitive/Provisional Indicator      1.00
dtype: float64

In [26]:
sunspots.min()  #最小值

Yearly Mean Total Sunspot Number      0.0
Yearly Mean Standard Deviation        1.7
Number of Observations              150.0
Definitive/Provisional Indicator      0.0
dtype: float64

In [27]:
sunspots.max()  #最大值

Yearly Mean Total Sunspot Number      269.3
Yearly Mean Standard Deviation         19.1
Number of Observations              10734.0
Definitive/Provisional Indicator        1.0
dtype: float64

In [28]:
sunspots.mode()  #返回一个众数，即出现次数最多的数

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
0,18.3,9.2,365.0,1.0

In [29]:
sunspots.std()  #标准差，方差的平方根

Yearly Mean Total Sunspot Number      61.985246
Yearly Mean Standard Deviation         3.818567
Number of Observations              2543.569835
Definitive/Provisional Indicator       0.056077
dtype: float64

In [30]:
sunspots.var()  #返回方差

Yearly Mean Total Sunspot Number    3.842171e+03
Yearly Mean Standard Deviation      1.458145e+01
Number of Observations              6.469748e+06
Definitive/Provisional Indicator    3.144654e-03
dtype: float64

In [31]:
sunspots.skew()  #偏态系数，即数据分布的对称程度

Yearly Mean Total Sunspot Number     0.808667
Yearly Mean Standard Deviation       0.561499
Number of Observations               1.883133
Definitive/Provisional Indicator   -17.832555
dtype: float64

In [32]:
sunspots.kurt()  #返回数据分布曲线顶端尖峭或扁平程度

Yearly Mean Total Sunspot Number     -0.129786
Yearly Mean Standard Deviation       -0.249446
Number of Observations                2.013276
Definitive/Provisional Indicator    318.000000
dtype: float64